
 /* 
 Style line numbers
 - bg -colors on line ---- 28
 
 
 
 */

 .title{
  text-align: center;
  padding: 10px;
  width:40%;
  margin: auto;
 }

body {
    height: 5000px;
    background-color: aquamarine;
}

.box{
    height: 100px;
    width:100px;
    margin-bottom: 5px;
}


/* colors for texts start */

.text-color-white{
  color:white
}

.text-color-blue{
  color:blue
}

/* colors for texts end */


/* classes for backgrounds start*/

.my-violet-color-bg{
  background-color: blueviolet;
 
}
.my-black-color-bg{
  background-color: rgb(0, 0, 0);
}
.my-green-color-bg{
  background-color: rgb(27, 191, 38);
}
.my-yellow-color-bg{
  background-color: rgb(237, 237, 94);
}
/* classes for backgrounds start */

.box-small{
     height: 50px;
     width:50px;
  
     margin-bottom: 5px;
}
.italic{
    font-style: italic;
}
